.btn {
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    transition: background-color 0.3s ease-in-out;

    &--submit {
        background-color: $primary;
        color: $white;
    }

    &:hover {
        background-color: $primary-dark;
    }
}
