.form {
    padding: 1rem;
    background-color: $gray-light;

    &__group {
        label {
            display: block;
            font-weight: bold;
            font-size: 1.125rem;
        }
    }

    &__group:not(:last-child) {
        margin-bottom: 1rem;
    }

    &__input,
    &__select {
        width: 100%;
        padding: 10px;
        border: 1px solid darken($gray-light, 20%);
    }

    &__select {
        color: $gray-dark;
        font-size: 16px;
        appearance: none;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><path d="M7 7l5 5 5-5z"/></svg>');
        background-repeat: no-repeat;
        background-position-x: calc(100% - 10px);
        background-position-y: calc(50% - 1px);
    }
}
